<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlineshop">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineShop">
        <activity
            android:name=".activity.activity.SoldProductDetails"
            android:exported="false"
            android:theme="@style/Theme.OnlineShop.NoActionBar"/>
        <activity
            android:name=".activity.activity.MyOrderDetails"
            android:exported="false"
            android:theme="@style/Theme.OnlineShop.NoActionBar" />
        <activity
            android:name=".activity.activity.Checkout"
            android:exported="false"
            android:theme="@style/Theme.OnlineShop.NoActionBar" />
        <activity
            android:name=".activity.activity.AddEditAddress"
            android:exported="false"
            android:theme="@style/Theme.OnlineShop.NoActionBar" />
        <activity
            android:name=".activity.activity.AddressList"
            android:exported="false"
            android:theme="@style/Theme.OnlineShop.NoActionBar" />
        <activity
            android:name=".activity.activity.CartList"
            android:exported="false"
            android:theme="@style/Theme.OnlineShop.NoActionBar" />
        <activity
            android:name=".activity.activity.ProductDetails"
            android:exported="false"
            android:theme="@style/Theme.OnlineShop.NoActionBar" />
        <activity
            android:name=".activity.activity.AddProduct"
            android:exported="false"
            android:theme="@style/Theme.OnlineShop.NoActionBar" />
        <activity
            android:name=".Activities.Settings"
            android:exported="false"
            android:theme="@style/Theme.OnlineShop.NoActionBar" />
        <activity
            android:name=".Activities.Dashboard"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.activity.UserProfile"
            android:exported="false"
            android:theme="@style/Theme.OnlineShop.NoActionBar" />
        <activity
            android:name=".activity.activity.ForgotPassword"
            android:exported="false"
            android:theme="@style/Theme.OnlineShop.NoActionBar" />
        <activity
            android:name=".activity.activity.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.activity.Register"
            android:exported="false"
            android:theme="@style/Theme.OnlineShop.NoActionBar" />
        <activity
            android:name=".activity.activity.Login"
            android:exported="false"
            android:theme="@style/Theme.OnlineShop.NoActionBar" />
        <activity
            android:name=".activity.activity.Main"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Splashscreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>